<div class="Background">

    <app-navigation-bar></app-navigation-bar>

    <div *ngIf="!viewSpecs" class="container">
        <div class="row">
            <div class="col-6">

                <div class="CustomerList">
                    <mat-card class="CustomerHeader">
                        <mat-card-header>Vehicle Types</mat-card-header>
                    </mat-card>
                    <br>
                    <div class="example-container">
                        <mat-card>

                            <mat-table [dataSource]="vehicleTypes" matSort>

                                <ng-container matColumnDef="Name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Types</mat-header-cell>
                                    <mat-cell *matCellDef="let type" (click)="loadformT(type)">{{type.name}}
                                        <button class="buttonColour" mat-button (click)="deleteType(type.VehicleTypeID)">
                                            <mat-icon aria-hidden="false" >delete</mat-icon>
                                        </button>

                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="listColumns"></mat-header-row>
                                <mat-row *matRowDef="let type; columns: listColumns;">
                                </mat-row>
                            </mat-table>
                            <br>
                            <button mat-flat-button color="accent" (click)="AddAType()">Add Type</button>
                        </mat-card>

                    </div>

                </div>
                <br>


                <!-- List Make  -->
                <div class="CustomerList">
                    <mat-card class="CustomerHeader">
                        <mat-card-header>Vehicle Make</mat-card-header>
                    </mat-card>
                    <br>
                    <div class="example-container">
                        <mat-card>

                            <mat-table [dataSource]="vehicleMakes" matSort>

                                <ng-container matColumnDef="Name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Makes</mat-header-cell>
                                    <mat-cell *matCellDef="let make" (click)="loadformT(make)">{{make.name}}
                                        <button class="buttonColour" mat-button (click)="deleteMake(make.vehicleMakeID)">
                                            <mat-icon aria-hidden="false" >delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="listColumns"></mat-header-row>
                                <mat-row *matRowDef="let make; columns: listColumns;">
                                </mat-row>
                            </mat-table>
                            <br>
                            <button mat-flat-button color="accent" (click)="AddAMake()">Add Make</button>
                        </mat-card>

                    </div>
                    <br>
                </div>
                <!-- List Model  -->
                <div class="CustomerList">
                    <mat-card class="CustomerHeader">
                        <mat-card-header>Vehicle Model</mat-card-header>
                    </mat-card>
                    <br>
                    <div class="example-container">
                        <mat-card>

                            <mat-table [dataSource]="vehicleModels" matSort>

                                <ng-container matColumnDef="Name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Models</mat-header-cell>
                                    <mat-cell *matCellDef="let model" (click)="loadformMod(model)"> {{model.name}}
                                        <button class="buttonColour" mat-button (click)="deleteModel(model.VehicleModelID)">
                                            <mat-icon aria-hidden="false" >delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="listColumns"></mat-header-row>
                                <mat-row *matRowDef="let model; columns: listColumns;">
                                </mat-row>
                            </mat-table>
                            <br>
                            <button mat-flat-button color="accent" (click)="AddAModel()">Add Model</button>
                        </mat-card>

                    </div>

                </div>
            </div>

            <div class="col-6">


                <!-- View-->
                <div class="CustomerDetails " *ngIf="!EditView ">
                    <div *ngIf="!AddViewT">
                        <mat-card class="NavButtonHeader ">
                            <button mat-button class="NavButton ">Vehicle Type Details</button>
                        </mat-card>
                        <br>
                        <mat-card class="header ">
                            <mat-card-header>Vehicle Type</mat-card-header>
                        </mat-card>
                        <br>
                        <mat-card class="example-container ">

                            <div>
                                <mat-list>
                                    <mat-list-item>Name: {{type.name}}</mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Description: {{type.Description}}</mat-list-item>
                                    <mat-divider></mat-divider>

                                </mat-list>
                            </div>
                            <br>
                            <div>
                                <br>
                                <button mat-flat-button color="accent " [disabled]="disable " (click)="deleteType(type.VehicleTypeID)">Delete Type</button>
                            </div>

                        </mat-card>
                    </div>
                </div>
                <div class="CustomerDetails " *ngIf="!EditView ">
                    <div *ngIf="!AddViewMak">
                        <mat-card class="NavButtonHeader ">
                            <button mat-button class="NavButton ">Vehicle Make Details</button>
                        </mat-card>
                        <br>
                        <mat-card class="header ">
                            <mat-card-header>Vehicle Make</mat-card-header>
                        </mat-card>
                        <br>
                        <mat-card class="example-container ">

                            <div>
                                <mat-list>
                                    <mat-list-item>Name: {{make.name}}</mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Description: {{make.Description}}</mat-list-item>

                                </mat-list>
                            </div>
                            <br>
                            <div>

                                <br>
                                <button mat-flat-button color="accent " [disabled]="disable " (click)="deleteMake(make.vehicleMakeID)">Delete Make</button>
                            </div>

                        </mat-card>
                    </div>
                </div>
                <div class="CustomerDetails " *ngIf="!EditView ">
                    <div *ngIf="!AddViewMod">
                        <mat-card class="NavButtonHeader ">
                            <button mat-button class="NavButton ">Vehicle Model Details</button>
                        </mat-card>
                        <br>
                        <mat-card class="header ">
                            <mat-card-header>Vehicle Model</mat-card-header>
                        </mat-card>
                        <br>
                        <mat-card class="example-container ">

                            <div>
                                <mat-list>
                                    <mat-list-item>Name: {{model.name}}</mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Description: {{model.Description}}</mat-list-item>
                                    <mat-divider></mat-divider>


                                </mat-list>
                            </div>
                            <br>
                            <div>

                                <br>
                                <button mat-flat-button color="accent " [disabled]="disable " (click)="deleteModel(model.VehicleModelID) ">Delete Model</button>
                            </div>

                        </mat-card>
                    </div>
                </div>
                <div class="Align">

                    <!-- Add Type  -->
                    <div *ngIf="AddViewT">
                        <br>
                        <mat-card class="header ">
                            <mat-card-header>Vehicle Type</mat-card-header>
                        </mat-card>
                        <br>
                        <mat-card class="example-container ">
                            <form #form="ngForm">
                                <mat-form-field>
                                    <mat-label for="Name">Name</mat-label><br>
                                    <input matInput type="text " name="Typename " required [(ngModel)]="type.name">
                                    <mat-icon aria-hidden="false" (click)="deleteType(type.VehicleTypeID)">delete</mat-icon>
                                </mat-form-field>

                                <br>

                                <mat-form-field>
                                    <mat-label for="Description">Description</mat-label><br>
                                    <input matInput type="text " name="type " required [(ngModel)]="type.Description">
                                </mat-form-field>

                                <br>
                                <div>
                                    <button mat-flat-button color="accent" (click)="AddType()">Add Type</button>
                                </div>
                            </form>
                        </mat-card>

                    </div>
                    <!-- Add Make -->
                    <div *ngIf="AddViewMak">
                        <br>
                        <mat-card class="header">
                            <mat-card-header>Vehicle Make</mat-card-header>
                        </mat-card>
                        <br>
                        <mat-card class="example-container">
                            <form #form="ngForm">
                                <mat-form-field>
                                    <mat-label for="Name">Name</mat-label><br>
                                    <input matInput type="text " name="MakeName " required [(ngModel)]="make.name">

                                </mat-form-field>

                                <br>

                                <mat-form-field>
                                    <mat-label for="Description">Description</mat-label><br>
                                    <input matInput type="text " name="MakeDescription" required [(ngModel)]="make.Description">
                                </mat-form-field>

                                <br>
                                <div>
                                    <button mat-flat-button color="accent" (click)="addMake()">Add Make</button>
                                </div>
                            </form>
                        </mat-card>

                    </div>

                    <!-- Add Model -->
                    <div *ngIf="AddViewMod">
                        <br>
                        <mat-card class="header ">
                            <mat-card-header>Vehicle Model</mat-card-header>
                        </mat-card>
                        <br>
                        <mat-card class="example-container ">
                            <form #form="ngForm">
                                <mat-form-field>
                                    <mat-label for="Name">Name</mat-label><br>
                                    <input matInput type="text " name="ModelName " required [(ngModel)]="model.name">

                                </mat-form-field>

                                <br>

                                <mat-form-field>
                                    <mat-label for="Description">Description</mat-label><br>
                                    <input matInput type="text " name="ModelDescription" required [(ngModel)]="model.Description">
                                </mat-form-field>

                                <br>
                                <div>
                                    <button mat-flat-button color="accent" (click)="addModels()">Add Model</button>
                                </div>
                            </form>
                        </mat-card>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>