<div class="Background">

    <div class="container">
        <div class="col-6">

            <!-- VehicleDrivers List -->
            <div class="DriverList">
                <mat-card class="VehicleDriverHeader">
                    <mat-card-header>Driver</mat-card-header>
                </mat-card>

                <br>

                <div class="example-container">

                    <mat-card>

                        <mat-table [dataSource]="vehicledrivers" matSort>

                            <ng-container matColumnDef="employeeID">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</mat-header-cell>
                                <mat-cell *matCellDef="let driver" (click)="loadform(driver)">{{driver.employeeID}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="listColumns"></mat-header-row>
                            <mat-row *matRowDef="let driver; columns: listColumns;"></mat-row>

                        </mat-table>

                        <br>

                        <button mat-flat-button color="accent" (click)="Add()">Assign a Driver</button>
                    </mat-card>

                </div>
            </div>

        </div>

        <div class="col-6">
            <mat-card class="NavButtonHeader">
                <button mat-button class="NavButton" (click)="Back()">Vehicle Details</button>
                <button mat-button class="NavButton" (click)="getVehicleDriver(vehicleID)">Vehicle Drivers</button>
            </mat-card>

            <br>

            <div class="VehicleDriverDetails">

                <!-- Updating a Driver -->
                <div *ngif="EditView">
                    <mat-card class="header">
                        <mat-card-header>Driver Details</mat-card-header>
                        <br>
                        <div class="example-container">
                            <form #form="ngForm" (ngSubmit)="addDriverDetails()">
                                <mat-form-field>

                                </mat-form-field>

                            </form>
                        </div>
                    </mat-card>


                </div>
            </div>
        </div>


    </div>

</div>