<div class="Background">
    <app-navigation-bar></app-navigation-bar>
    <div *ngIf="!viewInvDocs" class="container"></div>

    <div class="row">
        <div class="col-6">
            <div class="DeliveryNoteList">
                <mat-card>
                    <mat-card-header>Invoicing</mat-card-header>
                </mat-card>
                <br>
                <div>

                    <!-- Search Delivery Note -->

                    <!-- Search bar -->
                    <!-- <input matInput type="text"  [(ngModel)]="searchword"(input)="searchThis()"> -->
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="eg. John Doe">
                    </mat-form-field> <button mat-raised-button matTooltip="Enter a customer's name" aria-label="Button that displays a tooltip when focused or hovered over"><mat-icon>search</mat-icon></button><br><br>


                    <mat-card class="example-container">
                        <!-- List of Delivery Note -->
                        <mat-table [dataSource]="dNotes" matSort>
                            <ng-cntainer matColumnDef="dNote">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery</mat-header-cell>
                                <mat-cell *matCellDef="let vehicle" (click)="loadform(dNote)">{{dNote.deliveryID}}</mat-cell>
                            </ng-cntainer>

                            <mat-header-row *matHeaderRowDef="listColumns"></mat-header-row>
                            <mat-row *matCellDef="let note; columns: listColumns;"></mat-row>
                        </mat-table>

                        <br>
                    </mat-card>

                </div>
            </div>

        </div>


        <!-- View a Delivery Note -->
        <div class="col-6">
            <div *ngif="viewInvDocs" class="DNDetails">
                <br>
                <mat-card>
                    <mat-card-header style="color:black;">Jesslyn Carriers</mat-card-header> <br>
                    <mat-card-subtitle>Cell: 082 573 2015 <br> Tel: 031 464 6261 <br> Date: {{invoice.dateIssued}} <br> Order No: #{{invoice.invoiceNumber}}</mat-card-subtitle>

                    <br>

                    <div class="col">
                        <table>
                            <tr>
                                <th>Consignee</th>
                            </tr>
                            <tr>
                                <td>{{dNote.cosginee}}</td>
                            </tr>
                        </table>

                    </div>
                    <br>

                    <div class="col">
                        <table class="table">
                            <tr>
                                <th>
                                    Deliver To
                                </th>


                                <th>
                                    Collect From
                                </th>

                            </tr>
                            <tr>
                                <td>{{dNote.deliverTo}}</td>
                                <td>{{dNote.collectFrom}}</td>
                            </tr>
                        </table>

                    </div>


                    <br>

                    <div class="col">
                        <table>
                            <tr>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>{{dNote.quantity}}</td>
                            </tr>
                        </table>

                    </div>

                    <br>
                    <div class="col">
                        <table>
                            <tr>
                                <th>Description as per Supplier Document No.</th>

                            </tr>
                            <tr>
                                <td>{{dNote.description}}</td>
                            </tr>

                        </table>

                    </div>

                    <br>

                    <div class="col">
                        <table>
                            <tr>

                                <th>Weight Mass</th>

                            </tr>

                            <tr>
                                <td>{{dNote.weight}}</td>
                            </tr>
                        </table>

                    </div>

                    <br>

                    <div class="col">
                        <table>
                            <tr>

                                <th>Recieved in good condition</th>

                            </tr>
                            <tr>
                                <td>{{dNote.receivedQuality}}</td>
                            </tr>
                        </table>
                    </div>

                    <br>

                    <div class="col">
                        <table class="table" style="border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>Date:</th>
                                    <th>Driver:</th>
                                </tr>

                                <tr>
                                    <td>{{dNote.dateSubmitted}}</td>
                                    <td>{{dNote.driverName}}</td>
                                </tr>

                                <tr>
                                    <th>Time:</th>
                                    <th>Vehicle Reg: </th>
                                </tr>

                                <tr>
                                    <td>{{dNote.time}}</td>
                                    <td>{{dNote.vehReg}}</td>
                                </tr>

                                <tr>
                                    <th>Print Names:</th>
                                    <th>Trailer Reg:</th>
                                </tr>

                                <tr>
                                    <td>{{dNote.printName}}</td>
                                    <td>{{dNote.trailerReg}}</td>
                                </tr>

                            </thead>

                        </table>


                    </div>

                    <br>
                    <h4>Signature: __________________</h4>

                </mat-card>

            </div>



        </div>
    </div>


</div>