.DNDetails {
    width: max-content;
    margin-right: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
}

.DeliveryNoteList {
    margin-right: 45px;
    margin-left: 45px;
    width: 750px;
}

.grid-container {
    text-align: left;
}

.mat-card-header {
    color: #990000;
    font-family: 'Poppins';
    font-size: large;
    font-weight: bolder;
}

.container {
    margin: 0;
}

.header {
    background-color: #f0f0f0;
    width: 640px;
}

.Header {
    background-color: #f0f0f0;
    width: 750px;
}

.Background {
    background-color: #d4d4d4;
    margin: 0;
}

.NavButton:active {
    background-color: #990000;
    color: white;
}

.NavButtonHeader {
    background-color: #f0f0f0;
    ;
    color: #990000;
    width: 640px;
    margin-left: 200px;
}

.NavButton {
    font-family: 'Poppins';
    font-size: medium;
    font-weight: normal;
}

.col {
    background-color: #dddddd;
}


/* td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    background-color: white;
} */

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #dddddd;
}

th {
    background-color: #dddddd;
}

h2 {
    margin-left: 180%;
    font-size: x-large;
}

p {
    font-size: x-small;
}

table {
    border-color: white;
}

.dates {
    margin-right: 60%;
}

mat-card-subtitle {
    color: black;
}