<div class="Background">
    <!-- Navigation Bar  -->
    <app-navigation-bar></app-navigation-bar>
    
    <div *ngIf="!ViewCountry || !ViewProvince || !ViewCity|| !ViewAddress" class="container">
      <div class="row">
        <div class="col-6">
            <!-- add map  -->
        </div>
        <div class="col-6">

        <mat-card class="NavButtonHeader">
                <a><button mat-button class="NavButton" (click)="CountryClick()">Countries</button></a>
                <a><button mat-button class="NavButton" (click)="ProvinceClick()">Provinces</button></a>
                <a><button mat-button class="NavButton" (click)="CityClick()">Cities</button></a>
                <button mat-button class="NavButton" (click)="SuburbClick()" disabled="true">Suburbs</button>
                <a><button mat-button class="NavButton" (click)="AddressClick()">Addresses</button></a>
        </mat-card>
        <br>
        <mat-card class="NavButtonHeader">
            <button mat-button class="NavButton" (click)="AddPage()"  [disabled]="AddDisabled">Add Suburbs</button>
            <a><button mat-button class="NavButton" (click)="deleteSuburb(suburb.suburbId)" [disabled]="isDisabled">Delete Suburbs</button></a>
            <a><button mat-button class="NavButton" (click)="UpdatePage()" [disabled]="isDisabled">Update Suburbs</button></a>
        </mat-card>
    
    <!--Table-->
    <div *ngIf="!EditView">
      <div style="position: relative;" class="col-6" *ngIf="!AddView">
          <div class="example-container" matSort>
        <mat-card style="width: 640px;">
            <mat-table #table [dataSource]="suburbs">
                  <ng-container matColumnDef="name">
                           <mat-header-cell *matHeaderCellDef><b>Suburb Name</b></mat-header-cell>
                           <mat-cell *matCellDef="let suburb" (click)="populateForm(suburb)">{{suburb.name}}</mat-cell>
                      </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let suburb; columns: displayedColumns;"></mat-row>
                 </mat-table>
           </mat-card>
           </div>
    
    <!--Forms-->
    <div style="position: relative;">
          <!-- Add Suburb  -->
          <div  *ngIf="AddView" >
             <form  #form="ngForm">
              <mat-card class="example-container" style="width: 640px;">
                  <mat-form-field appearance="fill">
                        <input matInput type="text" name="name"  [(ngModel)]="suburb.name" placeholder="Suburb Name">
                      </mat-form-field>
          <br>
                      <mat-form-field appearance="fill">
                        <mat-select [(value)]="suburb.cityId" placeholder="City Name" style="color: rgb(192, 192, 192);">
                            <div style="width: 250px;">
                              <mat-option name="cityId" *ngFor="let city of cities" [value]="city.cityId">{{city.name}}</mat-option></div>
                            </mat-select>
                      </mat-form-field><br>
                      <br><br>
        <button mat-flat-button color="accent"  (click)="addSuburb()">Add Suburb</button>
        </mat-card>
        </form>
      </div>
          </div>
    
      <div style="position: relative; size: 50%;">
      <!-- Edit City  -->
      <div  *ngIf="EditView" >
          <form  #form="ngForm">
            <mat-card class="example-container" style="width: 640px;">
              <mat-form-field appearance="fill">
                <input matInput type="text" name="name"  [(ngModel)]="suburb.name" placeholder="Suburb Name">
              </mat-form-field>
            <br>
              <mat-form-field appearance="fill">
                  <mat-select [(value)]="suburb.cityId" placeholder="City Name" style="color: rgb(192, 192, 192);">
                    <div style="width: 250px;">
                      <mat-option name="cityId" *ngFor="let city of cities" [value]="city.cityId" style="right: inherit;">{{city.name}}</mat-option>
                    </div>
                  </mat-select>
               </mat-form-field><br>
               <br><br>
                 <button mat-flat-button color="accent"  (click)="updateSuburb(suburb)">Update City</button>
                 </mat-card>
                 </form>
      </div>
      </div>
    
      </div>
        </div>
