<div class="Background">

  <!-- Navigation Bar  -->
  <app-navigation-bar></app-navigation-bar>

  <div *ngIf="!!ViewEmployee|| !ViewDriverDetails" class="container">
    <div class="row">
      <div class="col-6">
        <!-- List of Customer   -->
        <div class="EmployeeRoleList">
          <mat-card class="EmployeeRoleHeader">
            <mat-card-header>List of Employee Roles</mat-card-header>
          </mat-card>
          <br>
          <div class="example-container">
            <mat-card>

              <mat-table [dataSource]="employeeroles" matSort>

                <ng-container matColumnDef="employeeRoleDescription">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> List of Employee Roles</mat-header-cell>
                  <mat-cell *matCellDef="let employeerole"(click)="populateForm(employeerole)"> {{employeerole.employeeRoleDescription}}
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let employeerole columns: displayedColumns;">
                </mat-row>
              </mat-table>
              <br>
              <button mat-flat-button color="accent" (click)="AddPage()">Add Employee Role</button>
            </mat-card>

          </div>

        </div>

      </div>

      <div class="col-6">

        <mat-card class="NavButtonHeader">
          <a><button mat-button class="NavButton" (click)="EmployeeClick()" >Employee</button></a>
        
          <button mat-button class="NavButton" (click)="EmployeeRoleClick()"disabled="true">Employee Roles</button>
        
          <a><button mat-button class="NavButton" (click)="DriverDetailsClick()">Driver Details</button></a>
        </mat-card>
        <!-- <button mat-button class="NavButton" (click)="getCustomerContacts(customer.customerId)">Customer Contacts</button> -->
        <br>

        <div class="EmployeeRoleDetails">       
          <!-- Update Customer Details  -->
          <div *ngIf="EditView">
            <mat-card class="header">
              <mat-card-header>Employee Role Descriptions</mat-card-header>
            </mat-card>
            <br>
            <mat-card class="example-container">
              <form #form="ngForm">
                <mat-form-field>
                  <mat-label for="">Employee Role</mat-label><br>
                  <input matInput id="employeeRoleDescription" type="text" name="employeeRoleDescription" required [(ngModel)]="employeerole.employeeRoleDescription">
                </mat-form-field>
  
                <br>

  
                <div>
                  <!-- <button mat-flat-button color="accent" (click)="addCustomer()" >Add Customer</button>
              <br>
              <br> -->
                  <button mat-flat-button color="accent" [disabled]="isDisabled" (click)="updateRole(employeerole)">Save
                    Changes</button>
                </div>
              </form>
            </mat-card>
          </div>
          <!-- View Customer Details -->
          <div *ngIf="!EditView">
            <div *ngIf="!AddView">
              <mat-card class="header">
                <mat-card-header>Employee Roles Descriptions</mat-card-header>
              </mat-card>
              <br>
              <mat-card class="example-container">
  
                <div>
                  <mat-list>
                    <mat-list-item>Employee Role: {{employeerole.employeeRoleDescription}}</mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                </div>
                <br>
                <div>
                  <button mat-flat-button color="accent" [disabled]="isDisabled" (click)="UpdatePage()">Update
                    Employee Role</button>
                  <br>
                  <br>
                  <button mat-flat-button color="accent" [disabled]="isDisabled"
                    (click)="deleteRole(employeerole.employeeRoleId)">Delete Employee Role</button>
                </div>
  
              </mat-card>
            </div>
          </div>
          <!-- Add Customer  -->
          <div  *ngIf="AddView">
            <br>
            <mat-card class="header">
              <mat-card-header>Employee Role</mat-card-header>
            </mat-card>
            <br>
            <mat-card class="example-container">
              <form #form="ngForm">
                <mat-form-field>
                  <mat-label for="">Employee Role Description</mat-label><br>
                  <input matInput type="text" name="employeeRoleDescription" required [(ngModel)]="employeerole.employeeRoleDescription">
                </mat-form-field>
  
                
                <br>
  
                <div>
                  <!-- <button mat-flat-button color="accent" (click)="addCustomer()" >Add Customer</button>
                <br>
                <br> -->
                  <button mat-flat-button color="accent" (click)="addRole()">Add Employee Role</button>
                </div>
              </form>
            </mat-card>
  
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Viewing Customer Contact
  <div *ngIf="ViewContact">
    <app-customercontacts [customercontacts]="customercontacts"></app-customercontacts>
  </div> -->

</div>