<div class="background">
  <!-- Navigation Bar  -->
  <app-navigation-bar></app-navigation-bar>
  
  <div *ngIf="!ViewCountry || !ViewCity || !ViewSuburb || !ViewAddress" class="container">
  <div class="row"  style="float: right;"  >
      <mat-card class="NavButtonHeader">
              <a><button mat-button class="NavButton" (click)="CountryClick()">Countries</button></a>
              <button mat-button class="NavButton" (click)="ProvinceClick()" disabled="true">Provinces</button>
              <a><button mat-button class="NavButton" (click)="CityClick()">Cities</button></a>
              <a><button mat-button class="NavButton" (click)="SuburbClick()">Suburbs</button></a>
              <a><button mat-button class="NavButton" (click)="AddressClick()">Addresses</button></a>
      </mat-card>
  </div>
  <br><br><br><br>
  
  
  <div class="row">
  <!--Table-->
    <div class="example-container" style="position: relative" class="col" >
      <mat-card class="example-container" style="width: 500px;">
          <mat-table #table [dataSource]="provinces">
                <ng-container matColumnDef="name">
                         <mat-header-cell *matHeaderCellDef><b>Province Name</b></mat-header-cell>
                         <mat-cell *matCellDef="let province" (click)="populateForm(province)">{{province.name}}</mat-cell>
                    </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let province; columns: displayedColumns;"></mat-row>
               </mat-table>
               <br>
  
              <button mat-flat-button color="accent" (click)="AddPage()">Add Province</button>
              <p> </p>
              <button mat-flat-button color="accent" (click)="UpdatePage()">Maintain Province</button>
         </mat-card>
         </div>
  
  <!--Forms-->
  <div style="position: relative; size: 50%;">
        <!-- Add Province  -->
        <div class="CustomerDetails" *ngIf="AddView" >
           <form  #form="ngForm">
            <mat-card class="example-container" style="width: 500px;">
                <mat-form-field appearance="fill">
                      <input matInput type="text" name="name"  [(ngModel)]="province.name" placeholder="Province Name" style="position:inherit;">
                          <hr>
                    </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-select [(value)]="province.countryId" placeholder="Country Name" style="color: rgb(192, 192, 192);">
                <div style="width: 250px;">
                  <mat-option name="countryId" *ngFor="let country of countries" [value]="country.countryId" >{{country.name}}</mat-option>
                </div>
              </mat-select>
           </mat-form-field><br>
                    <br><br>
      <button mat-flat-button color="accent"  (click)="addProvince()">Add Province</button>
      </mat-card>
      </form>
    </div>
        </div>
  
    <div style="position: relative; size: 50%;">
    <!-- Edit Country  -->
    <div class="CustomerDetails" *ngIf="EditView" >
        <form  #form="ngForm">
          <mat-card class="example-container" style="width: 500px;">
        <label style="font-size: 80%">Select a province from the table</label><br>
            <mat-form-field appearance="fill">
              <input matInput type="text" name="name"  [(ngModel)]="province.name" placeholder="Province Name">
              <hr>
            </mat-form-field>
          <br>
            <mat-form-field appearance="fill">
                <mat-select [(value)]="province.countryId" placeholder="Country Name" style="color: rgb(192, 192, 192);">
                  <div style="width: 250px;">
                    <mat-option name="countryId" *ngFor="let country of countries" [value]="country.countryId" style="right: inherit;">{{country.name}}</mat-option>
                  </div>
                </mat-select>
             </mat-form-field><br>
             <br><br>
               <button mat-flat-button color="accent"  (click)="updateProvince(province)">Update Province</button>
               <p> </p>
               <button mat-flat-button color="accent"  (click)="deleteProvince(province.provinceId)">Delete Country</button>
               </mat-card>
               </form>
    </div>
    </div>
  
    </div>
      </div>