

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #e4e4e4;
  }
  
  
  h2{
     margin-right: auto;
     margin-left: 210px;
     font-size: xx-large;
  }
  
  p{
      font-size: x-small;
  }
  
  .dates{
      margin-right: 60%;
  }
  


  