<app-navigation-bar></app-navigation-bar>


<div class="row" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="col-3">
        <mat-card style="width: 340px ;  margin-right: 50px; margin-left: 50px;" >
            <button mat-button style="background-color: #8b8989; color: rgb(255, 255, 255); width: 100%;">
                Email</button><br>
            <br><button mat-button style=" background-color: #770000fb; color: rgb(255, 255, 255); width: 100%;">Save as
                PDF</button>
        </mat-card>
    </div>

    <div class="col-9" id="htmlData">
        <mat-card style="width: 1000px ; margin-right: 50px; margin-left: 50px;">
    
           <div class="row">
    
             <div class="col-6">
                 <h1>Company Name</h1>
                 <p>
                     Cell: 082 573 2015 <br>
                    Email: jesslyn@telkomsa.net
                </p>
            </div>
    
    
            <div class="col-6">
                
                <div class="dates">
                    <h2>Tax Invoice</h2>                   
                    
                    <table style="width: 250px;; margin-left: 110%;">
                        <tr>
                            <th>
                                VAT Reg. No.
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Invoice No.
                            </th>
                        </tr>
                        <tr>
                            <td>
                            
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
    
        </div> 
    
            <br>


          <div class="row">   
              <div class="col-6">
                  <table style="width: 100%">
                    <tr>
                        <th>Invoice To:</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <th> VAT No.</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
            
            <div class="col-6">
                <table style="width: 100%;">
                    <tr>
                        <th>Deliver To:</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>  
            </div>
            
            <br>
            
            <div class="row">   
                <div class="col-6">
                    <table style="width: 100%;">
                        <tr>
                            <th>Order No.:</th>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table style="width: 100%;">
                        <tr>
                            <th>POD No.:</th>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <br>


            <table style="width: 100%;">
                <tr>
                    <th>From:</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
    
            <br>

            <table style="width: 100%;" >
                <tr>
                    <th>D/Note No.</th>
                    <th>Description</th>
                    <th>Rate</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <br>

            <div class="row">   
                <div class="col-6">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 60%;">
                                <b>
                                    BANK DETAILS <br>
                                    NEDBANK
                                    BRANCH CODE : 133526<br>
                                    ACCOUNT NO : 1335 021 736<br>
                                    BRANCH : QUEENSBURGH<br>
                                    <br>
                                </b>
                        
                            </td>                    
                        </tr>             
                    </table>
                </div>
                <div class="col-6">
                    <table style="width: 100%;">
                        <tr>
                            <td><b>SUB TOTAL</b></td>  
                            <td>amount</td>                 
                        </tr>             
                        <tr>
                            <td><b>VAT TOTAL</b></td>   
                            <td>amount</td>                 
                        </tr>
                        <tr>
                            <td><b>TOTAL</b></td>  
                            <td>amount</td>                 
                        </tr>
                    </table>
                </div>
            </div>
    
            <br>
    
            <p>
                <i>JESSLYN CARRIERS YOUR PARTNER IN SERVICE EXCELLENCE</i>
            </p>
    
        </mat-card>
        
    </div>

</div>



