<p >
    <mat-toolbar  color="primary-light" class="navbar">
       <img src="assets/image/Logistics Express Logo.png" width="300px" (click)="dashboardClick()" >
     <div class="button"> 
       <button class="buttonColour" mat-button (click)="dashboardClick()">Home</button>
       <button class="buttonColour" mat-button>Deliveries</button>
       <button class="buttonColour" mat-button (click)="CustomerClick()">Customer</button>
       <button class="buttonColour" mat-button (click)="SubcontractorClick()">Sub-Contractors</button>
       <button class="buttonColour" mat-button (click)="Employee()">Employee</button>  
       <button class="buttonColour" mat-button (click)="LocationClick()">Locations</button>
       <button class="buttonColour" mat-button *ngIf="!isUserLoggedIn" (click)="logout()">Logout</button>
       
      </div>
      </mat-toolbar>
  </p>