<div class="background">
<!-- Navigation Bar  -->
<app-navigation-bar></app-navigation-bar>
<div *ngIf="!ViewProvince || !ViewCity || !ViewSuburb || !ViewAddress" class="container">
    <div class="row"  style="float: right;"  >
        <mat-card class="NavButtonHeader">
            <button mat-button class="NavButton" (click)="CountryClick()" disabled="true">Countries</button>
            <a><button mat-button class="NavButton" (click)="ProvinceClick()">Provinces</button></a>
            <a><button mat-button class="NavButton" (click)="CityClick()">Cities</button></a>
            <a><button mat-button class="NavButton" (click)="SuburbClick()">Suburbs</button></a>
            <a><button mat-button class="NavButton" (click)="AddressClick()">Addresses</button></a>
          </mat-card>
    </div>
    <br><br><br><br>

    <div class="row">

         <!--Table-->
    <div style="position: relative;" class="col-6" >
            <div class="example-container" matSort>
            <mat-card style="width: 500px;">
                    <mat-table #table [dataSource]="countries">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef><b>Country Name</b></mat-header-cell>
                            <mat-cell *matCellDef="let country" (click)="populateForm(country)">{{country.name}}</mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let country; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <br>
                    <button mat-flat-button color="accent" (click)="AddPage()">Add Country</button>
                    <p> </p>
                    <button mat-flat-button color="accent" (click)="UpdatePage()">Maintain Country</button>
            </mat-card>
        </div>
    </div>
    <p>      </p>
 
                <!--Form-->
    <div style="position: relative; size: 50%;">
    <!-- Add Country  -->
        <div class="CustomerDetails" *ngIf="AddView" >
        <form  #form="ngForm">
            <mat-card class="example-container" style="width: 500px;">
                <mat-form-field appearance="fill">
                    <input matInput type="text" name="name"  [(ngModel)]="country.name" placeholder="Country Name" required>
                    <hr>
                </mat-form-field>
                <br><br>
                <button mat-flat-button color="accent"  (click)="addCountry()">Add Country</button>
            </mat-card>
        </form>
        </div>
    </div>

    <div style="position: relative; size: 50%;">
        <!-- Edit Country  -->
            <div class="CustomerDetails" *ngIf="EditView" >
            <form  #form="ngForm">
                <mat-card class="example-container" style="width: 500px;">
                    <label style="font-size: 80%">Select a country from the table on the left.</label><br>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" name="name"  [(ngModel)]="country.name" placeholder="Country Name">
                        <hr>
                    </mat-form-field>
                    <br><br>
                    <button mat-flat-button color="accent"  (click)="updateCountry(country)">Update Country</button>
                    <p> </p>
                    <button mat-flat-button color="accent"  (click)="deleteCountry(country.countryId)">Delete Country</button>
                </mat-card>
            </form>
            </div>
        </div>


    </div>


</div>










