<div class="Background">

    <!-- Navigation Bar  -->
    <app-navigation-bar></app-navigation-bar>
  
    <div *ngIf="!ViewContact" class="container">
      <div class="row">
        <div class="col-6">
          <!-- List of Customer   -->
          <div class="CustomerList">
            <mat-card class="CustomerHeader">
              <mat-card-header>Subcontractor</mat-card-header>
            </mat-card>
            <br>
            <div class="example-container">
              <mat-card>
  
                <mat-table [dataSource]="subcontractors" matSort>
  
                  <ng-container matColumnDef="subcontractorName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Subcontractor Name </mat-header-cell>
                    <mat-cell *matCellDef="let subcontractor" (click)="populateForm(subcontractor)"> {{subcontractor.subcontractorName}}
                    </mat-cell>
                  </ng-container>
  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let customer; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <br>
                <button mat-flat-button color="accent" (click)="AddPage()">Add Subcontractor</button>
              </mat-card>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="col-6">
  
          <mat-card class="NavButtonHeader">
            <button mat-button class="NavButton">Subcontractor Details</button>
            <button mat-button class="NavButton" [disabled]="isDisabled" (click)="getCustomerContacts(subcontractor.subcontractorId)">Subcontractor Contacts</button>
          </mat-card>
          <!-- <button mat-button class="NavButton" (click)="getCustomerContacts(customer.customerId)">Customer Contacts</button> -->
          <br>
  
          <div class="CustomerDetails">       
            <!-- Update Customer Details  -->
            <div *ngIf="EditView">
              <mat-card class="header">
                <mat-card-header>Subcontractor Details</mat-card-header>
              </mat-card>
              <br>
              <mat-card class="example-container">
                <form #form="ngForm">
                  <mat-form-field>
                    <mat-label for="">Businsess Name</mat-label><br>
                    <input matInput id="businessName" type="text" name="businessName" required [(ngModel)]="subcontractor.subcontractorName">
                  </mat-form-field>
    
                  <br>
    
                  <mat-form-field>
                    <mat-label>Business Phone Number</mat-label><br>
                    <div *ngIf="subcontractor.phoneNumber.length != 10">
                      <mat-error>Invalid Phone Number</mat-error>
                    </div>
                    <input matInput type="text" name="phoneNumber"  required  [(ngModel)]="subcontractor.phoneNumber">
                  </mat-form-field>
    
                  <br>
    
                  <mat-form-field>
                    <mat-label>Business Email Address</mat-label><br>
                    <input matInput type="email" name="emailAddress"  required email="true" [(ngModel)]="subcontractor.emailAddress">
                  </mat-form-field>
    
                  <br>
    
                  <div>
                    <!-- <button mat-flat-button color="accent" (click)="addCustomer()" >Add Customer</button>
                <br>
                <br> -->
                    <button mat-flat-button color="accent" [disabled]="isDisabled" (click)="updateCustomer(subcontractor)">Save
                      Changes</button>
                  </div>
                </form>
              </mat-card>
            </div>
            <!-- View Customer Details -->
            <div *ngIf="!EditView">
              <div *ngIf="!AddView">
                <mat-card class="header">
                  <mat-card-header>Subcontractor Details</mat-card-header>
                </mat-card>
                <br>
                <mat-card class="example-container">
    
                  <div>
                    <mat-list>
                      <mat-list-item>Businsess Name: {{subcontractor.subcontractorName}}</mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>Phone Number: {{subcontractor.phoneNumber}}</mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>Email Address: {{subcontractor.emailAddress}}</mat-list-item>
                    </mat-list>
                  </div>
                  <br>
                  <div>
                    <button mat-flat-button color="accent" [disabled]="isDisabled" (click)="UpdatePage()">Update
                      Subcontractor</button>
                    <br>
                    <br>
                    <button mat-flat-button color="accent" [disabled]="isDisabled"
                      (click)="deleteCustomer(subcontractor.subcontractorId)">Delete Subcontractor</button>
                  </div>
    
                </mat-card>
              </div>
            </div>
            <!-- Add Customer  -->
            <div  *ngIf="AddView">
              <br>
              <mat-card class="header">
                <mat-card-header>Subcontractor Details</mat-card-header>
              </mat-card>
              <br>
              <mat-card class="example-container">
                <form #form="ngForm">
                  <mat-form-field>
                    <mat-label for="">Businsess Name</mat-label><br>
                    <input matInput type="text" name="businessName"  required [(ngModel)]="subcontractor.subcontractorName">
                  </mat-form-field>
    
                  <br>
    
                  <mat-form-field>
                    <mat-label>Business Phone Number</mat-label><br>
                    <div *ngIf="subcontractor.phoneNumber.length != 10">
                      <mat-error>Invalid Phone Number</mat-error>
                    </div>
                    <input matInput type="text" name="phoneNumber" required [(ngModel)]="subcontractor.phoneNumber">
                  </mat-form-field>
    
                  <br>
    
                  <mat-form-field>
                    <mat-label>Business Email Address</mat-label><br>
                    <input matInput type="email" name="emailAddress" required email="true" [(ngModel)]="subcontractor.emailAddress">
                  </mat-form-field>
    
                  <br>
    
                  <div>
                    <!-- <button mat-flat-button color="accent" (click)="addCustomer()" >Add Customer</button>
                  <br>
                  <br> -->
                    <button mat-flat-button color="accent" (click)="addCustomer()">Add Subcontractor</button>
                  </div>
                </form>
              </mat-card>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Viewing Customer Contact  -->
    <div *ngIf="ViewContact">
      <app-subcontractorcontacts [subcontractorcontacts]="subcontractorcontacts" ></app-subcontractorcontacts>
    </div>
  
  </div>